@import "./base/typography"; // Fonts
@import "./base/reset"; // Modern Normalize

@import "./utils/variables"; // Variables
@import "./utils/mixins"; // Mixins
@import "./utils/placeholders"; // Placeholders

@import "./components/visually-hidden"; // Hidden blocks
@import "./components/container"; // Container
@import "./components/buttons"; // Buttons
@import "./components/logo"; // Logo
@import "./components/forms"; // Forms
@import "./components/custom-checkbox"; // Custom checkbox
@import "./components/social"; // Socials
@import "./components/tabs"; // Tabs
@import "./components/cards"; // Cards

@import "./layout/header"; // Header
@import "./layout/navigation"; // Navigation
@import "./layout/hero"; // Section hero
@import "./layout/modal"; // Modal
@import "./layout/benefits"; // Section Benefits
@import "./layout/what-we-do"; // Section What we do
@import "./layout/our-team"; // Section Our team
@import "./layout/regular-customers"; // Section Regular customers
@import "./layout/footer"; // Footer

body {
  font-family: $fonts;
  font-size: 14px;
  color: $primary-text-color;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.title {
  line-height: 1.16;
  color: $title-text-color;
}

.text {
  line-height: 2;
}

.subtitle {
  @include font-property(14px, 700, 1.16);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $text-white;
}

.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  text-align: center;
}

.list {
  list-style-type: none;
}

// Links
.link {
  color: inherit;
  text-decoration: none;

  transition: color 250ms $animation, background-color 250ms $animation, border-color 250ms $animation;
}

// Images
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: $social-primary-color;
}

// Order-form textarea
.textarea {
  padding-left: 16px;
  min-height: 120px;
  resize: none;
}

// Order-form checkbox group
.checkbox-group {
  margin-bottom: 30px;
  text-align: center;
  line-height: 1.7;
}

.form-icon {
  transition: fill 250ms $animation;
}

// Cards list
.works {
  padding: $padding-section 0;

  &__list {
    display: flex;
    flex-wrap: wrap;
  }
}

//Footer adress item
.address {
  line-height: 1.7;
  font-style: normal;

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }

  &__link {
    color: $text-white;
  }
}
