// Section Benefits
.benefits {
  padding: 60px 0;
  @media screen and (min-width: 1600px) {
    padding: $padding-section 0;
  }

  &__list {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }
  }

  &__item {
    @media screen and (min-width: 767px) and (max-width: 1599px) {
      flex-basis: calc(100% / 2 - 15px);
    }
    @media screen and (min-width: 1600px) {
      max-width: 270px;
    }
  }

  &__item:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  &__thumb {
    margin-bottom: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    background-color: $bg-secondary;
    border-radius: 4px;
  }

  &__title {
    margin-bottom: 10px;
    font-size: inherit;
    text-transform: uppercase;
    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }

  &__icon {
    width: 70px;
    height: 70px;
  }
}
