// Footer
.page-footer {
  padding: 60px 0;
  color: $text-footer;
  background-color: $bg-dark;

  &__list {
    text-align: center;
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__item:nth-child(1) {
    @media screen and (min-width: 1600px) {
      margin-right: 70px;
    }
  }

  &__item:not(:last-child) {
    @media screen and (min-width: 768px) and (max-width: 1599px) {
      flex-basis: calc(100% / 2);
    }
    @media screen and (max-width: 1599px) {
      margin-bottom: 60px;
    }
  }

  &__item:last-child {
    @media screen and (min-width: 1600px) {
      margin-left: auto;
    }
  }

  &__logo {
    display: block;
    margin-bottom: 20px;
  }

  &__logo {
    color: $text-white;
  }

  &__link--inverse:hover,
  &__link--inverse:focus {
    color: $accent-color;
  }

  &__title {
    margin-bottom: 20px;
  }
}
