// Section hero
.hero {
  margin: 0 auto;
  max-width: 480px;
  padding: 118px 0;
  background-color: $img-background;
  background-image: linear-gradient($img-overlay, $img-overlay),
    url(../images/hero-480w.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }

  // Hero image for for mobiles resolution 1x and 2x
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient($img-overlay, $img-overlay),
      url(../images/hero-960w.jpg);
  }

  // Hero images for tablets resolution 1x and 2x
  @media screen and (min-width: 768px) {
    max-width: 768px;
    background-image: linear-gradient($img-overlay, $img-overlay),
      url(../images/hero-768w.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient($img-overlay, $img-overlay),
        url(../images/hero-1536w.jpg);
    }
  }

  // Hero images for desktops resolution 1x and 2x
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    padding: 200px 0;
    background-image: linear-gradient($img-overlay, $img-overlay),
      url(../images/hero-1600w.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient($img-overlay, $img-overlay),
        url(../images/hero-3200w.jpg);
    }
  }

  &__container {
    margin: 0 auto;
    max-width: 700px;
    padding: 0 15px;
    text-align: center;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      max-width: 400px;
    }
  }
  &__title {
    margin-bottom: 30px;
    @include font-property(26px, 900, 1.6);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $text-white;

    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.4;
    }
  }
}
