.customers {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: $padding-section;
    padding-bottom: $padding-section;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__item {
    width: calc(100% / 2 - 15px);

    @media screen and (min-width: 768px) {
      width: calc(100% / 3 - 20px);
    }
    @media screen and (min-width: 1200px) {
      width: calc(100% / 6 - 150px / 6);
    }
  }

  &__link {
    height: 92px;
  }

  &__icon {
    width: 106px;
    height: 45px;

    transition: fill 250ms $animation;
  }

  &__icon:hover,
  &__icon:focus {
    color: $accent-color;
  }

  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: $accent-color;
  }

  &__link {
    border: 1px solid $social-primary-color;
    border-radius: 4px;
  }

  &__link:hover,
  &__link:focus {
    border-color: $accent-color;
  }
}
