// Main button
.btn {
  font-family: inherit;
  font-size: 16px;
  color: $text-white;
  background-color: $accent-color;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;

  transition: color 250ms $animation, background-color 250ms $animation,
    box-shadow 250ms $animation;

  &:hover,
  &:focus {
    background-color: $btn-color-active;
  }

  &-primary {
    min-width: 216px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.06em;
    padding: 10px 32px;

    @media screen and (max-width: 1599px) {
      padding: 10px 24px;
    }
  }

  &--shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  .modal__container & {
    display: block;
    margin: 0 auto;
  }
}
