.menu {
  &__button {
    position: absolute;
    top: 10px;
    right: 15px;
    display: flex;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
    z-index: 2;

    transition: fill 250ms $animation;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__button:hover,
  &__button:focus {
    fill: $accent-color;
  }

  &__button &__svg-close,
  &__button.is-open &__svg-open {
    display: none;
  }

  &__button.is-open &__svg-close {
    display: block;
  }
}
