// Mobile social-list
.social-list {
  display: none;

  @media screen and (max-width: 767px) {
    display: flex;
    font-size: 18px;
    color: $accent-color;

    &__item:not(:last-child) {
      padding-right: 10px;
      border-right: 1px solid $border-input-color;
    }

    &__item:not(:first-child) {
      padding-left: 10px;
    }
  }
}

// Social icons group
.social {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;

  &__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: transparent;
  }

  &__link:hover,
  &__link:focus {
    background-color: $accent-color;
  }

  &__link:hover &-icon,
  &__link:focus &-icon {
    fill: $text-white;
  }

  &-icon {
    width: 20px;
    height: 20px;
    fill: inherit;

    transition: fill 250ms $animation;
  }
}

// Footer socials
.social-footer-list {
  display: flex;
  gap: 10px;
  @media screen and (max-width: 1599px) {
    justify-content: center;
  }
  &__link {
    width: 45px;
    height: 45px;
    background-color: $icon-footer-background;
    border-radius: 50%;
  }

  &__link:hover,
  &__link:focus {
    background-color: $accent-color;
  }

  &__icon {
    fill: $text-white;
  }
}
