// color palette
$primary-text-color: #757575;
$primary-text-color-tr: rgba(117, 117, 117, 0.5);
$title-text-color: #212121;
$border-input-color: rgba(33, 33, 33, 0.2);
$accent-color: #2196f3;
$accent-color-bg: rgba(33, 150, 243, 0.9);
$dark-color: #000000;
$backdrop-color: rgba(0, 0, 0, 0.2);
$icon-border: rgba(0, 0, 0, 0.1);
$btn-color-active: #188ce8;
$bg-dark: #2f303a;
$bg-secondary: #f5f4fa;
$text-white: #ffffff;
$text-white-30: rgba(255, 255, 255, 0.3);
$text-white-60: rgba(255, 255, 255, 0.6);
$text-footer: rgba(255, 255, 255, 0.6);
$icon-footer-background: rgba(225, 225, 225, 0.1);
$social-primary-color: #afb1b8;

$border-light: #ececec;
$border-card: #eeeeee;

$img-overlay: rgba(47, 48, 58, 0.4);
$img-do-overlay: rgba(47, 48, 58, 0.8);
$img-background: #c4c4c4;

$padding-section: 94px;

$animation: cubic-bezier(0.4, 0, 0.2, 1);

//font-family
$fonts: "Roboto", "Raleway", sans-serif;
$raleway: "Raleway";
